<br>
<br>

<h2>Welcome Admin {{name}} </h2>

<hr>
<h1> Add New Post</h1>

<div class="justify-content-center">
<a href="/adm/add"><i class="fa-sharp fa-solid fa-tv fa-beat  btn btn-primary btn-block"> Add New Post</i></a>
</div>

<hr>
<h2> Users </h2>
<hr>
<table class="table-striped bg-light">
  <thead class="text-black">
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Adm</th>
      <th>Creat at</th>
    </tr>
  </thead>
  <tbody class="text-danger">
    {{#each users}}

    <tr>
      <th>
        {{email}}
      </th>
      <td>
        {{name}}
      </td>
      <td>
        {{adm}}
      </td>
      <td>
        {{formatDate date 'MMMM Do YYYY, h:mm:ss a' }}
      </td>

      <td> <a href="/users/edit/{{_id}}">
          <i class="btn btn-success fas fa-edit"> Upadate </i> </a>
      </td>

      <td>
        <form action="/users/{{_id}}" method="POST" id="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn red">
            <i class="btn btn-danger fas fa-trash"> Delete</i>
          </button>
        </form>
      </td>
    </tr>


    {{/each}}
  </tbody>
</table>

<hr>
<h2> BlogPost </h2>
<hr>

<div class="row row-cols-1 row-cols-md-2 g-4">

  {{#each blogPost}}


  {{!-- {{{editIcon user.id ./user.id _id}}} --}}


  <div class="col">
    <div class="card">
      <img src="{{image}}" class=" img-small" alt="{{tag}}">
      <div class="card-body">
        <h5 class="card-title">
          <a href="/blogPost/show/{{_id}}">
          {{title}}
          </a></h5>
        <h7 class="card-subtitle">{{subtitle}}</h5>
          <p class="card-text"> {{truncate content 200}} </p>

          <div class="cotainer d-flex justify-content-evenly">

            <a href="/adm/edit/{{_id}}">
              <i class="btn btn-success fas fa-edit"> Upadate </i> </a>

            <form action="/adm/{{_id}}" method="POST" id="delete-form">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn red">
                <i class="btn btn-danger fas fa-trash"> Delete</i>
              </button>
            </form>

          </div>

          <div class="card-footer">
            <small class="text-muted"> Created by {{user.name}}, On {{formatDate date 'MMMM Do YYYY, h:mm:ss a' }}
            </small>
          </div>
      </div>
    </div>
  </div>


  {{else}}
  <hr>
  <p>No Posts yet</p>
  <br>
  {{/each}}

</div>